.ArticleDetails {
  margin: 0 20px 0 12px;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.articleInfo {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.icon {
  margin-right: 8px;
}
