.Button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 5px 10px;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 20px;
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
