.card {
  padding: 10px 10px 15px 25px;
  border-radius: 10px;
  background: var(--item-bg);
}

.list {
  .header {
    display: flex;
    flex-direction: row;
    margin: 0 20px 10px 0;
  }

  .avatar {
    margin-right: 10px;
  }

  .username {
    margin-right: auto;
  }

  .date {

  }

  .title {

  }

  .types {
    margin-top: 7px;
  }

  .image {
    max-height: 200px;
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
  }

  .subtitle {
    margin: 10px 0 55px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .button {
    &:hover {
      opacity: 0.6;
    }
  }

  .views {
    margin-left: auto;
  }

  .icon {
    margin: 0 20px 0 10px;
  }
}

.tiles {
  width: 230px;

  .card {
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: 0.2s;

    .date {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
    }

    &:hover {
      transform: scale(1.01);

      .date {
        display: block;
      }
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .image {
    width: 100%;
    border-radius: 10px;
  }

  .infoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .types {
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
  }

  .views {
    margin-left: auto;
  }

  .icon {
    margin-left: 5px;
  }

  .title {
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }
}
