.ArticleImageBlockComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23px auto 0;
}

.articleImage {
  min-height: 260px;
  max-height: 500px;
  max-width: 100%;
}
