.app_dark_theme {
  --bg-color: #1b1b1d;
  --inverted-bg-color: #303b44;
  --primary-color: #e8e8ea;
  --secondary-color: #049604;
  --inverted-primary-color: #e8e8ea;
  --inverted-secondary-color: #e8e8ea;
}
