:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #303b44;
  --primary-color: #1b1b1d;
  --secondary-color: #0449e0;
  --inverted-primary-color: #e8e8ea;
  --inverted-secondary-color: #1b1b1d;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}
