.app.light {
  --bg-color: #e8e8ea;
  --inverted--bg-color: #080850;

  --primary-color: #002cad;
  --secondary-coloor: #004bf3;
  --inverted-primary-color: #049604;
  --inverted-secondary-coloor: #04ff04
}